<div class='max-w-wd'>
  <div class='text-5xl font-bold my-4'>{{ section.settings.title }}</div>
  <div class='my-4'>
    <p class='text-base md:text-xl leading-normal'>
      {{ section.settings.subtitle }}
    </p>
  </div>
  <div>
    {% if section.settings.button_url == blank %}
      {% assign shop_url = shop.secure_url %}
    {% else %}
      {% assign shop_url = section.settings.button_url %}
    {% endif %}
    <a
      href='{{ shop_url }}'
      class='px-4 inline py-2 text-base font-medium shadow bg-green-600 hover:bg-green-200 text-white'
    >
      {{- section.settings.button_label -}}
    </a>
  </div>
</div>

{% schema %}
{
  "name": "Template 404",
  "settings": [
    {
      "type": "text",
      "id": "title",
      "default": "404",
      "label": "404 Heading Title"
    },
    {
      "type": "text",
      "id": "subtitle",
      "default": "The page you're looking for does not exist.",
      "label": "404 Subtext Title"
    },
    {
      "type": "text",
      "id": "button_label",
      "default": "Back to Homepage",
      "label": "Button Label"
    },
    {
      "type": "text",
      "id": "button_url",
      "label": "Button URL"
    }
  ]
}
{% endschema %}
